.UserIcon{
    position: absolute;
    right:50px;
    top: 10%;
    transform: translateY(-70%);
    font-size: 30px;
    cursor: pointer;
}

.TextLog{
    position: absolute;
    font-family: Garamond, serif;
    right:45px;
    top: 12%;
    font-size: 15px;
}