.MenuIcon, .MenuIconCross{
    position: absolute;
    transform: translateY(-70%);
    font-size: 30px;
    cursor: pointer;
    z-index: 9999;
}

body {
    overflow: auto; 
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);  
    z-index: 998;  
  }

.MenuIcon{
    top: 10%;
    left:30px;
}
.MenuIconCross{
    top: 7%;
    left:247px;
}



.TextMenu{
    position: absolute;
    font-family: Garamond, serif;
    left:30px;
    top: 12%;
    font-size: 15px;
}

.navbar{
    background-color: #060b26;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.menu-bars{
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu{
    background-color: #A89A9A;
    width: 290px;
    height: 500px;
    display: flex;
    justify-content: center;
    position: fixed;
    top:124px;
    left: -100%;
    transition: 850ms;
    z-index: 9999;
}

.nav-menu.active{
    left:0;
    transition: 350ms;
    transform: translateX(0);
    z-index: 9999;
}

.nav-text{
    display: flex;
    font-family: Garamond, serif;
    font-size: 25px;
    justify-content: start;
    align-items:center;
    padding: 30px 0px 8px 16px;
    list-style: none;
    height: auto;
}

.nav-text a{
    text-decoration: none;
    color:#f5f5f5;
    font-family: Garamond, serif;
    font-size: 25px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover{
    background-color: #776666;
}

.nav-menu-items{
    width: 100%;
}


span{
    margin-left: 16px;
}